* {font-family: 'Open Sans', sans-serif;}

body {
    background: rgb(137,0,164);
    background: linear-gradient(180deg, rgba(137,0,164,1) 0%, rgb(49, 120, 201) 100%);        
    background: -webkit-linear-gradient(180deg, rgba(137,0,164,1) 0%, rgb(49, 120, 201) 100%);        
    }
    h1{
      text-align: center;
      font-size: 3.4em;
      color: #f2f2f2;
    }
    h3{
        text-align: center;
        font-size: 2.0em;
        color: #f2f2f2;
      }
    .container {
      display: block;
      text-align: center;
    }
    #table td {
        border: 1px solid #00000043;
    }
    #table {
        margin: auto;
        min-width: 300px;
        max-width: 100%;
        border-collapse: collapse;
    }
  
  #table tr:first-child {
    border-top: none;
    background: midnightblue;
    color: #fff;
  }
  
  #table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
    font-weight: 600;
  }
  
  #table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
  }
  
  #table th {
    display: none;
  }
  
  #table td {
    display: block;
  }
  
  #table td:first-child {
    margin-top: .5em;
  }
  
  #table td:last-child {
    margin-bottom: .5em;
  }
  
  #table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
  }
  
  #table th,
  #table td {
    text-align: left;
  }
  
  #table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
  }
  
  #table tr {
    border-color: #bfbfbf;
  }
  
  #table th,
  #table td {
    padding: .5em 1em;
  }
  @media screen and (max-width: 601px) {
    #table tr:nth-child(2) {
      border-top: none;
    }
  }
  @media screen and (min-width: 600px) {
    /* #table tr:hover:not(:first-child) {
      background-color: #d8e7f3;
    } */
    #table td:before {
      display: none;
    }
    #table th,
    #table td {
      display: table-cell;
      padding: .25em .5em;
    }
    #table th:first-child,
    #table td:first-child {
      padding-left: 0;
    }
    #table th:last-child,
    #table td:last-child {
      padding-right: 0;
    }
    #table th,
    #table td {
      padding: 1em !important;
    }
  }

  #dateRangePicker::-webkit-calendar-date-picker-dates-cell[selected],
  #dateRangePicker::-webkit-calendar-date-picker-dates-cell:focus {
    background-color: yellow;
  }